.wrapper {
    display: flex;
    justify-content: center
}

.calculator {
    border: solid 1px;
    width: 350px;
    height: 450px
}

.buttonsRow {
    display: flex;
    justify-content: space-evenly
}

.buttons {
    width: 40px;
    height: 40px;
}

.calcAnswer {
    height: 36%;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.buttonsStyle {
    display: flex;
    flex-direction: column;
    height: 69%;
    justify-content: space-evenly;
}

.numberDisp {
    height: 140px;
    width: 100%;
}

.inputDisplay {
    width: 98%;
    height: 60%;
    font-size: 50px;
    text-align: right;
}